Header {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
    background-color: #007765;
    top: 0;
    left: 0;
    z-index: 49;
}

.header-inside {
    display: flex;
    justify-content: space-between;
    max-width: 1219px;
    width: 100%;
    margin: 0 auto;
    padding: 0 55px 0 55px;

}

nav a{
    font-size: 24px;
    margin-left: 12px;
    color: #fff;
    text-decoration: none;

}

.piper {
    display: flex;
    background: url(../img/image-8.png) 0 0 / cover no-repeat;
    min-height: 403px;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;

}

.piper-basic {
    color: white  ;
    font-size: 72px;
    font-weight: 500;

}

.the_problem{
    background-color: #EEEEEE;;
}
h1{
    padding-top: 48px;
    margin: 0;
    text-align: center;
    font-size: 64px;
    color: #007765;
}
p{
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    max-width: 1219px;
}

.kok_bloc {
    display: flex;
    margin: 0 auto;
    min-height: 450px;
    background: url(../img/image-9.png)0 0 / cover no-repeat;
    justify-content: center;
    text-align: center;
}

.kok_bloc_1 {
    width: 883px;
    height: 228px;
}

.kok_bloc_soz {

    text-align: center;
    color: white;
    font-size: 48px;
    font-style: italic;
}

.Introducing_bloc {
    max-height: 1219px;
}



.Introducing_SOZ {
    font-size: 32px;
}



.logo_2 {
    float: left;
}

.the_bloc {
    display: flex;
    flex-wrap: wrap;

}

.pod_bloc {
    flex-basis: 33.333%;
    text-align: center;
}

.pod_bloc_1 {
    font-size: 24px;
    color: #007765;
}

.pod_bloc_2 {
    font-style: italic;
    font-size: 18px;

}
